body {
    margin-top: 50px;
}

.factura-electronica-container {
    display: flex;
}

.main-content {
    flex: 1; 
    padding: 20px; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.botonera {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
/* Botones generales */
.buttons-container button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    color: rgb(2, 7, 10);
    cursor: pointer;
    font-size: 14px;
}

/* Colores específicos por categoría */
.btn-copiar {
    background-color: #2980b9; /* Azul */
}

.btn-csv {
    background-color: #27ae60; /* Verde */
}

.btn-excel {
    background-color: #f39c12; /* Naranja */
}

.btn-pdf {
    background-color: #e74c3c; /* Rojo */
}

.btn-print {
    background-color: #8e44ad; /* Morado */
}

.btn-visibilidad {
    background-color: #34495e; /* Azul oscuro */
}

/* Estilos de hover para los botones */
.btn-copiar:hover {
    background-color: #3498db; /* Azul más claro */
}

.btn-csv:hover {
    background-color: #2ecc71; /* Verde más claro */
}

.btn-excel:hover {
    background-color: #f1c40f; /* Naranja más claro */
}

.btn-pdf:hover {
    background-color: #e74c3c; /* Rojo */
}

.btn-print:hover {
    background-color: #9b59b6; /* Morado más claro */
}

.btn-visibilidad:hover {
    background-color: #2c3e50; /* Azul oscuro más claro */
}
