.registro-personal-container {
    padding: 20px;
    width: 100%;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-input {
    margin-left: auto;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.navigation-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
